// Typography for use with font-family and font-weight declarations
$font-body: 'Fedra Sans Book', sans-serif;
$font-body-italic: 'Fedra Sans Book Italic', sans-serif;
$font-heading: 'Fedra Sans Bold', sans-serif;
$font-heading-italic: 'Fedra Sans Bold Italic', sans-serif;

$font-mono: consolas, courier, monospace;

$weight-thin: 300;
$weight-regular: 400;
$weight-medium: 500;
$weight-semibold: 600;
$weight-bold: 700;

// Built-in example colors processed with color lightness function
$colors: (
  shade: hsl(0, 0%, 7%),
  blue: hsl(204, 80%, 40%),
  red: hsl(4, 80%, 40%),
);

$black: c(shade);
$darkgray: c(shade, 25%);
$lightgray: c(shade, 92%);
$white: c(shade, 98%);
$blue: c(blue);
$lightblue: c(blue, 75%);
$red: c(red);
